<h1> Order Confirmation </h1>
<table>
  <tr colspan = "3">
    <th>Order id: <%= @order.id %></th>
</tr>
<tr>
  <td>Name: <%= @order.name %></td>
  <td rowspan = "3" >
<p> Products:
  <%@product_names.each_with_index do |product, index|%>

  <p><%= index + 1%>.  <%= link_to "#{product.name}", products_path(product.id) %> $<%= product.price %>
  <%end%>
  <p>Subtotal: $<%= @order.subtotal %></p>
</tr>
<tr>
  <td>Status: <%= @order.status %><td>

</tr>
<tr>
  <td>Shipping Address: <%= @order.address %></td>
</tr>
