<h3> Order Identification Number: <%= @order[:id]  %></h3>
<p> Name: <%= @order[:name]%> </p>
<p> Products:
  <% @order_products.each do |product| %>
      <%= product %>

<%end%>
</p>
<p> Status: <%= @order[:status]%> </p>
<p> Email: <%= @order[:email]%> </p>
