<section>
  <%= form_for @product do |f| %>
<!-- Temporarily hard coded all added items as belonging to merchant 1 -->


    <%= f.label :name, :class=>'form-for-text' %>
    <%= f.text_field :name %>

    <%= f.label :description, :class=>'form-for-text' %>
    <%= f.text_field :description %>

    <%= f.label :price, :class=>'form-for-text' %>
    <%= f.text_field :price %>

    <%= f.label :category, :class=>'form-for-text' %>
    <%= f.select :category_ids, options_for_select(Category.all.collect { | category | [category.name, category.id] }), { :prompt => "Please select"}, { :multiple => true} %>

    <%= f.label :quantity, :class=>'form-for-text' %>
      <%= f.text_area :quantity %>

    <%= f.label :image, :class=>'form-for-text' %>
    <%= f.text_area :img_url %>

    <%= f.submit class: "button" %>

  <% end %>

</section>
