<section class = "title">
<h2>List of Products</h2>
<section>
  <%= link_to "View  All Products", products_path, class: "button" %>
  <% if @current_merchant %>
  <%= link_to "Add a new Product", new_product_path, class: "button" %>
  <%else%>
  <%= link_to "View Cart"%>
  <%end%>
</section>
</title>
<section class="product-table">



      <% @products.each do |product| %>
      <aside class="product-box">
        <h4><%= link_to product.name, product_path(product) %> </h4>
        <section class = "image-box">
          <%= image_tag product.img_url %>
        </section>
      <p>
        <h4>  <%= product.description%></h4>
           <%= link_to "Add to Cart", new_order_product_path(product.id), class: "button" %>

      </aside>
      <% end %>


</section>
