<section class="title">
  <h1> Your Products </h1>
</section>


<table class= "merchant product">
  <thead>
    <tr>
      <th>Product</th>
      <th>ID</th>
      <th>Categories</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @product_by_merchant.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.id %></td>
        <%if product.categories.length > 0%>
          <td><%= product.categories.each{ |category| category.name} %> </td>
        <%else%>
          <td></td>
        <%end%>
        <td><%= product.price %></td>
        <td><%= product.description%></td>
        <td><%= image_tag product.img_url %></td>
        <td> <%= link_to "Edit this product", edit_product_path, class: "button" %> </td>
        <td> <%= link_to "Delete this product", product_path(product), data: {method: :delete, confirm: "Are you sure you want to delete this product?"}, class: "button" %> </td>
      </tr>
    <% end %>

  </tbody>
</table>
