<table>

      <tr>
        <td><%= @product.name%></td>
        <td><%= link_to @product.name, product_path(@product) %></td>
        <td><%= image_tag @product.img_url %></td>
        <td><%= @product.description%></td>
          <td><%= @product.categories.each{|category| category}%></td>
      </tr>

  </tbody>
</table>
<%= link_to "View All Products", products_path, class: "button" %>
<%= link_to "View Reviews", product_reviews_path(@product.id), class: "button" %>
<%= link_to "Add a New Product", new_product_path, class: "button" %>
<%= link_to "Add to Cart", new_order_product_path(@product.id), class: "button" %>
<%= link_to "Add Review", new_product_review_path(@product.id), class: "button" %>

</section>
