<table>

      <tr>
        <td><%= @product.name%></td>
        <td><%= link_to @product.name, product_path(@product) %></td>
        <td><%= image_tag @product.img_url %></td>
        <td><%= @product.description%></td>
      </tr>
  
  </tbody>
</table>
<%= link_to "View View All Products", products_path, class: "button" %>
<%= link_to "Add a new Product", new_product_path, class: "button" %>
</section>
