<h1>Review # <%= @product_review.id %></h1>
<h2>By: <%= @product_review.name %></h2>
<h2>Product: <%= @product_review.product_id %></h2>
<h2>Rating: <%= @product_review.rating %></h2>
<h3><%= @product_review.comment %></h3>
