<section>
  <%= form_for @order_product do |f| %>
  <%= f.hidden_field :product_id, :value => @order_product.product_id %>

  <%= f.label :quantity, :class=>'form-for-text' %>
  <%= f.text_area :quantity %>
  <%= f.submit "Update", class: "button" %>



  <% end %>


</section>
