<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Betsy" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class = "head">

    <div class="row" >
      <section class="columns large-12 medium-12 small-12">

      <section class="columns large-3 medium-3 small-12">
        <%=image_tag 'https://raw.githubusercontent.com/sahanamurthy/betsy/master/app/assets/images/woody_logo.png'%>

      </section>
      <section class="columns large-4 medium-4 small-12">
        <% if @current_merchant %>
        <%= link_to "Log Out", logout_path, method: :post, class: "log" %>
        <p class="text-right">Logged in as <%= link_to @current_merchant.username, merchant_path(@current_merchant) %></p>
        <% else %>
        <%= link_to "Log In", "/auth/github", class: "log " %>
        <p class="text-right">Not logged in</p>

        <% end %>
        <%= image_tag 'https://raw.githubusercontent.com/sahanamurthy/betsy/header_2/public/treasure_chest.png', class:"cart", id: "cart" %>
</section>

      </section>
            <section class="columns large-12 medium-12 small-12">
      <ul  class = "dropdown menu" data-dropdown-menu>
        <li>
          <%= link_to 'Sign Up',login_path ,class:"but-sidebar"%>
        </li>
        <li>
          <%= link_to 'More Links',new_product_path ,class:"but-sidebar"%>
          <ul>
            <li> <%= link_to 'More Links',products_path ,class:"but-sidebar"%></li>
          </ul>
        </li>
        <li><%= link_to 'More Links' ,products_path, class:"but-sidebar"%></li>
        <li><%= link_to 'More Links' ,products_path, class:"but-sidebar"%></li>
        <li><%= link_to 'More Links' ,products_path, class:"but-sidebar"%></li>
      </ul>

    </section>

  </div>

</div>
</header>
</div>
<section class = "row">

  <section class="flash">
    <%= flash[:status] %>
    <% if flash[:result_text] or flash[:message] %>
    <h3>
      <%= flash[:status] == :failure ? "A problem occurred: " : "" %> <%= flash[:result_text] %>
    </h3>
    <% end %>

    <% if flash[:messages] %>
    <% flash.each do |name, problems| %>
    <em> <%= "#{problems}" %></em> <br>
    <% end %>
    <% end %>
  </section>




</section>
<%= yield %>

</body>
</html>
