<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
    <%= image_tag 'https://raw.githubusercontent.com/sahanamurthy/betsy/header_2/public/woody_logo.jpg', class: "woody"%>
    <section class = "menu">
    <%= link_to 'Sign Up'%>
    <%= link_to 'More Links'%>
    <%= link_to 'More Links'%>
    <%= link_to 'More Links'%>
    <%= link_to 'More Links'%>

    <%= image_tag 'https://raw.githubusercontent.com/sahanamurthy/betsy/header_2/public/treasure_chest.png', class:"cart"%>

  </section>

  </header>


    <section class="flash">
      <%= flash[:status] %>
      <% if flash[:result_text] or flash[:message] %>
      <h3>
        <%= flash[:status] == :failure ? "A problem occurred: " : "" %> <%= flash[:result_text] %>
      </h3>
    <% end %>

      <% if flash[:messages] %>
        <% flash.each do |name, problems| %>
        <em> <%= "#{problems}" %></em> <br>
        <% end %>
        <% end %>



    </section>

    <%= yield %>

  </body>
</html>
