<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Betsy" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class = "head">

    <div class="row">
      <div class="columns large-3 small-12">
      <section class = "woody">
      <style id = "woody_logo"> </style>
    </section>
  </div>
    <div class="columns large-6 small-12">
      <section class = "menu">
        <%= link_to 'Sign Up'%>
        <%= link_to 'More Links'%>
        <%= link_to 'More Links'%>
        <%= link_to 'More Links'%>
        <%= link_to 'More Links'%>

        <%= image_tag 'https://raw.githubusercontent.com/sahanamurthy/betsy/header_2/public/treasure_chest.png', class:"cart", id: "cart" %>
      </section>
    </div>
    <div class="columns large-3 small-12">
      <section class="user-info">
        <% if @current_merchant %>
        <p class="text-right">Logged in as <%= link_to @current_merchant.username, merchant_path(@current_merchant) %></p>
        <%= link_to "Log Out", logout_path, method: :post, class: "button float-right" %>
        <% else %>
        <p class="text-right">Not logged in</p>
        <%= link_to "Log In", "/auth/github", class: "button float-right" %>
        <% end %>
      </section>
    </div>
  </div>




</header>

<section class="flash">
  <%= flash[:status] %>
  <% if flash[:result_text] or flash[:message] %>
  <h3>
    <%= flash[:status] == :failure ? "A problem occurred: " : "" %> <%= flash[:result_text] %>
  </h3>
  <% end %>

  <% if flash[:messages] %>
  <% flash.each do |name, problems| %>
  <em> <%= "#{problems}" %></em> <br>
  <% end %>
  <% end %>

</section>

<%= yield %>

</body>
</html>
